:root {
  --black: #111315;
  --blackmedium: #11131560;
  --blacklight: #11131510;
  --blue: #1d4696;
  --bluelight: #1d469660;
  --bluebg: #B4C7E730
}


@font-face {
  font-family: MonserratLight;
  src: url(../src//assets/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: MonserratRegular;
  src: url(../src//assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: MonserratMedium;
  src: url(../src//assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: MonserratBold;
  src: url(../src//assets/fonts/Montserrat-Bold.ttf);
}
input, select, textarea, .ant-select-selector {
  border-radius: 4px !important;
  font-family: MonserratMedium !important;
  size: 14px !important;
}
button:disabled {
  opacity: 0.7;
}
textarea {
  resize: none;
}
.text-start {
  text-align: left;
}
.ul .text-regular {
  font-family: MonserratRegular;
}
.sup {
  font-family: 'MonserratRegular';
  font-size: 13px;
  color: var(--blue);
  margin-top: 20px;
}
.mblock-80 {
  margin-block: 80px;
}
.mbottom-80 {
  margin-bottom: 80px;
}
.mtop-80 {
  margin-top: 80px;
}
.m-0 {
  margin: 0;
}
.text-elipse {
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 5;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-elipse-small {
  -webkit-line-clamp: 3;
}
.progressbar_countdown .progress-bar{
  animation: countdown 4s 1;
}
@keyframes countdown {
  from {width: 100%;}
  to {width: 0;}
}
.navbar-toggler {
  border: none;
  padding: 0;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

.navigations nav:nth-child(1) .navbar-toggler-icon {
  background-image: url(../src/assets/images/menu-burger.svg);
  border: none;
  background-repeat: no-repeat;
  background-size: auto;
}
.navigations nav:nth-child(2) .navbar-toggler-icon, .tabsContent .navbar-toggler-icon {
  background-image: url(../src/assets/images/menu-arrow.svg);
  border: none;
  background-repeat: no-repeat;
  background-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
.App {
  margin: auto;
  font-family: MonserratBold;
  /* border: 1px solid var(--blacklight); */
  overflow-x: hidden;
  padding-block: 0px 20px;
}
.container-custom {
  padding-inline: 6.8% !important;
}
.container-custom-margin {
  margin-inline: 6.8% !important;
}
.padding-block {
  padding-block: 60px !important;
}
/* .imageText > div:nth-child(1) {
  order: 2;
}

.imageText > div:nth-child(2) img {
  order: 1;
  position: relative;
  width: 90%;
  border-radius: 10px;
} */
/* lines */

/* Navigation */

/* end border */
.active-link, .active-link * {
  color: var(--blue) !important;
}
.nav {
  margin: 0;
  padding-bottom: 20px;
}
#consulting {
  font-size: 16px;
  height: 54px;
  display: flex;
  align-items: center;
}

.navbar {
  padding: 20px 0;
}
.nav li {
  cursor: pointer;
  transition: 0.4s;
  color: var(--blue);
}
ul {
  padding: 0;
}
.nav,
.nav-right,
.footer-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 20px;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
}

.nav-right li{
  color: var(--bluelight);
  transition: 0.4s;
}

.nav-top li{
  color: var(--blue);
  transition: 0.4s;
}

.nav li:hover {
  color: var(--blue);
}

.nav-bottom .nav-left {
  color: var(--blue);
}

.button-solid {
  height: 40px;
  display: grid;
  place-items: center;
  color: white !important;
  border-radius: 4px;
  border:none;
  background: var(--blue);
  padding: 0 43px;
  transition: 0.4s;
  font-family: MonserratBold;
}
.button-outline {
  font-family: 'MonserratBold';
  height: 40px;
  width: fit-content;
  display: flex;
  place-items: center;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 4px;
  background: transparent;
  padding: 0 18px;
  transition: 0.4s;
}
.button-outline img {
  margin-left: 10px;
}
.button-solid:hover, .button-outline:hover {
  background-color: #162f60 !important;
}

/* End Navigation */

/* header */
.gradient-image {
  display: flex;
  justify-content: end;
  grid-gap: 20px;
  /* background-image: linear-gradient( 60deg, rgba(0, 0, 0, 0.0), rgba(29, 70, 150, 0.6));  HEADER.JS!!!*/
  position: relative;
  background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 250px;
}
.gradient-image img {
  position: relative;
  height: 321px;
  width: 280px;
  display: grid;
}
.gradient-image img:nth-child(1) {
  align-self: end;
}
.home-carousel .slick-list {
  height: auto;
}
.slick-dots {
  padding-left:6.8% !important;
  gap:10px;
  justify-content: flex-start !important;
  margin-bottom: 30px;
}
.slick-dots li {
  background: #1D469640;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50px !important;
}
.slick-dots button {
  background: none !important;
}
li.slick-active {
  background-color: var(--blue);
}
.langing-page-header {
  /* grid-row-gap: 50px; */
  /* padding: 60px 0 140px; */
  position: relative;
  padding-bottom: 90px;
  background: var(--bluebg);
  padding: 0 !important;
  /* box-shadow: -20px 0px #f2f4fa, 20px 0 #f2f4fa; */
  min-height: 280px;
  display: flex !important;
}
.langing-page-header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#f2f4fa;
}
/* .langing-page-header div:nth-child(2) {
    height: 100%;
    right: 0px;
} */
/* .image {
  position: absolute;
  right: -15px;
} */
.subheading {
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--black);
  font-family: 'MonserratBold';
}
.title {
  line-height: 42px;
  font-size: 2.6rem;
  margin-bottom: 20px;
  font-family: "MonserratMedium";
  max-width: 550px;
  color: var(--blue);
}
.paragraph {
  line-height: 20px;
  font-family: "MonserratMedium";
  margin-bottom: 30px;
}
/* bugg */
.highlight:nth-child(3) {
  position: relative;
  padding-left: 33px;
}

.highlight:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 0;
  min-width: 13px;
  /* height: 40px; */
  height: 100%;
  background-color: var(--blue);
}

.statistics {
  display: flex;
  grid-column-gap: 64px;
  margin-top: 60px;
}
.statistics > div {
  max-width: 205px;
  display: flex;
  align-items: center;
  line-height: 20px;
  grid-column-gap: 20px;
}
.statistics .numbers {
  font-family: 'MonserratBold';
  font-size: 42px;
  color: var(--blue);
}


/* banner */
.gradient-image-banner img {
  border-radius: 0px 0px 0px 217.5px;
  /* height: 200px; */
  object-fit: cover;
  object-position: center top;
}
.gradient-image-banner {
  position: relative;
}
.gradient-image-banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(107.21deg, rgba(29, 70, 150, 0.2) -8.24%, rgba(29, 70, 150, 0.2) 100%, rgba(0, 0, 0, 0) 100%), linear-gradient(287.73deg, rgba(29, 70, 150, 0.6) 19.54%, rgba(0, 0, 0, 0) 100%);
  display: block;
  position: absolute;
  z-index: 111;
  border-radius: 0px 0px 0px 217.5px;
}
.alice-carousel__stage {
  display: block;
}

.alice-carousel__stage .alice-carousel__stage-item {
  color: var(--blue) !important;
  width: 280px !important;
  line-height: 20px !important;
  margin-right: 30px;
  font-size: 16px;
  font-family: 'MonserratMedium';
}
.banner {
  position: relative;
  padding: 50px 0;
  grid-column-gap: 40px;
  /* margin: 80px -30px 0; */
}




/* services */
.OurServicesShort {
  margin: 80px 0 0 0;
}
.OurServicesShort .ant-card{
  box-shadow: none !important;
}
.OurServicesShort .ant-card .ant-card-cover img, .OurServicesShort .ant-card-body{
  border-radius: 0;
}
.OurServicesShort .ant-card-body{
  margin-top:10px;
  padding: 20px 30px;
  background-color: var(--bluebg);
  min-height: 165px;
}

/* move top */
.highlight-text {
  color: #2F69D5;
}
.title-medium, .title-regular {
  font-family: 'MonserratBold';
  text-align: center;
  font-size: 26px;
  color: var(--blue);
  margin-top: 80px;
  margin-bottom: 30px;
  
}
.title-regular {
  margin-top: 0px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 18px;
}

.text-regular {
  margin: 0;
  color: var(--black);
  line-height: 17px;
  font-family: 'MonserratLight';
}
/* move top */


.team-work-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* services list */


.banner-static {
  background-color: rgb(29, 70, 150);
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}



/* news */
.read-more-btn {
  background: none;
  border: none;
  color: #1d4696;
  color: var(--blue);
  font-family: MonserratBold;
  font-size: 14px;
  padding: 0;
}
.news .news-grid {
  justify-content: space-between;
  row-gap: 20px;
}

.news-img {
  height: 253px;
  position: relative;
  width: 100%;
}
.news-img img, .news-img:before {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.news-img:before {
  background-color: #1d4696;
  background-color: var(--blue);
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  z-index: 1;
}
.news-card {
    background-color: #b4c7e760;
    border: 1px solid #1d4696;
    border: 1px solid var(--blue);
    border-radius: 4px;
    height: 140px;
    max-width: 48.5%;
    padding: 22px 20px;
    position: relative;
}
.news-card .header {
  color: #1d4696;
  color: var(--blue);
  font-family: MonserratMedium;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}
.news p {
  margin: 0;
  line-height: 18px;
}
.news .p-light {
  color: white;
  bottom: 20px;
  left: 20px;
  margin-top: -20px;
  z-index: 111;
position: relative;
  font-family: 'MonserratBold';
}


.news-card .header {
  margin-bottom: 10px;
  color: var(--blue);
  font-size: 14px;
  line-height: 17px;
  font-family: 'MonserratMedium';
}

.news-card img {
  width: 100%;
  margin-bottom: 20px;
}


.news-tabs {
  justify-content: flex-start;
  grid-column-gap: 0;
  margin: 0 !important;
}
.news-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 0 180px;
}
.news-image-container img {
  width: 280px;
  height: 397px;
}

/* awards */


/* .awards-list > div {
  grid-row-gap: 20px;
} */

.award-card img {
  width: 220px;
  height: 147px;
  object-fit: cover;
}

.awards-list .ant-row {
  margin: 97px 0 118px;
  justify-content: center;
  /* grid-row-gap: 163px; */
}



footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  width: 110vw;
  height: 1px;
  background-color: var(--blacklight);
}
.footer-left {
  font-size: 18px;
  color: #11131540;
  font-family: 'MonserratMedium';
}
.footer-right {
  font-size: 18px;
  grid-column-gap: 30px;
}

/* services sections*/
.services1
.section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0;
    padding-top: 0;
}
.section-left p {
  font-size: 18px;
  line-height: 18px;
}
.section-left p:first-child {
  margin-bottom: 10px;
  font-family: 'MonserratBold';
}



.ul ul {
  display: block;
  list-style:none;
  font-size: 16px;
  line-height: 20px;
  /* transform: translateX(12px); */
  margin-bottom: 30px;
}
.ul ul li, .text-regular-bold, .text-normal {
  font-family: MonserratMedium;
  font-size: 16px;
  display: flex;
  align-items: center;
  column-gap: 15px;
  line-height: 20px;
}
.ul ul li::before {
  content:'';
  width:4px;
height:4px;
background: var(--black);
position: relative;
display: block;
border-radius: 50px;
}
.services-container h2.title-medium {
  padding-top: 80px;
  position: relative;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0 !important;
  padding-top: 0 !important;
}


.image-with-box-shadow {
  box-shadow: -30px -30px #f2f4fa;
  border-radius: 10px;
}
.services-container .full-width-img {
  width: 100%;
    height: 424px;
    object-fit: cover;
    margin-block: 109px 60px;
    display: block;
}
.services-container .paragraphs *, .text-decor, .text-loose {
  position:relative;
  color: var(--blue);
  font-size: 16px;
  font-family: MonserratMedium;
}
.services-container .paragraphs {
  margin-block: 80px 110px;
}
.text-decor {
  position: relative;
  padding-left: 25px !important;
}
.text-decor {
  padding-left: calc(6.8% + 30px)
}
.text-decor:before {
  content:'';
  width: 10px;
  height: 87.5%;
  background-color: var(--blue);
  display: flex;
  position: relative;
  position: absolute;
  left: 0;
  top: 6px;
}
.text-decor:after {
  content: '';
  width: 10px;
  height: 38px;
  background-color: #B4C7E7;
  display: flex;
  position: relative;
  position: absolute;
  left: -6px;
  top: 1px;
}

.services-container h2:not(.first) {
  padding-top: 120px;
}

/* sectors */
/* .sectors-container {
  position: relative;
  padding: 80px 0 180px;
} */
.sector-card span{
  position: relative;
  display: block;
  overflow: hidden;
}
.sector-card img{
  transition: 0.4s;

}
.sector-card span:hover img{
  transform: scale(1.1);
}
.sector-card span::before {
  content:"";
  position: absolute;
  display: block;
  width:100%;
  height:100%;
  background-color: var(--blue);
  z-index: 1;
  opacity:0.4;
}
.sector-card p{
  z-index: 2;
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 24px !important;
  line-height: 29px !important;
  margin: 0;
  color: white;
  font-family: 'MonserratBold';
}
.sector-card h2 {
  position: relative;
  font-size: 24px;
  margin-bottom: 20px;
}
.sector-card h2:before {
  content: "";
  width: 32px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--blue);
  display: inline-flex;
  margin-right: 10px;
  transform: translateY(2px);
}
.sector-card p {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}
.sector-card h3 {
  font-size: 16px;
  margin-bottom: 20px;
}
.sector-card ul {
  display: grid;
  font-size: 16px;
}
.sector-card ul li {
  position: relative;
  padding-left: 12px;
  margin-left: 18px;
}
.sector-card ul li::before {
  content: "";
  display: flex;
  position: relative;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--black);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.sector-card ul::before {
  content: "";
  display: flex;
  width: 6px;
  height: 100%;
  border-radius: 4px;
  background-color: var(--blue);
  position: absolute;
  top: 0;
  left: 0px;
}

/* transactions */
.transactions {
  margin-block: 80px 120px;
}
.transactions h2 {
  margin-bottom: 30px;
}
.transactions .ant-card {
  background: var(--bluebg);
    padding: 20px;
}
.transactions .ant-card-head {
  display: block;
  padding: 0;
  min-height: auto;
}
.transactions .ant-card-head-title {
  font-size: 12px;
  font-family: 'MonserratBold';
}
.transactions .ant-card-cover img {
  height: 144px;
  object-fit: cover;
  margin-block: 20px;
  border-radius: 0;
}
.transactions .ant-card-body {
  padding: 0;
  font-size: 12px;
}
.OurServicesShort .ant-card-body h2 {
 display: flex;
 gap: 5px;
}
.transactions .ant-card-body p {
  font-family: 'MonserratMedium';
  line-height: 14.63px;
}
/* .recent-transactions img {
  width: 90%;
  border-radius: 10px;
} */

/* clients */
.clients_image {
  width: 100%;
  height: 100%;
}
/* .clients_image_array {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} */
/* .clients_image_card {
  padding: 28px;
} */
/* .clients_image_card:last-child {
  position: relative;
}
.clients_image_card:last-child::before {
  content: "";
  display: flex;
  background: white;
  width: 308%;
  height: 101%;
  position: absolute;
  top: 0;
  left: 101%;
} */

/* team */

.team_member_img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  object-position: center top;
}
.team_image_container .member_text {
  flex: 2;
}
.member_text-header{
  font-size: 24px;
  margin: 20px 0 10px;
  font-family: 'MonserratBold';
  color: var(--blue);
}
.member_text-subheader {
  font-size: 16px;
    margin-bottom: 10px;
    font-family: 'MonserratMedium';
    color: var(--blue);
}
.team_image_container .member_text p {
  color: #11131580;
  line-height: 20px;
  font-size: 14px;
}

/* careers */
.careers-buttons-wrapper {
  width: fit-content;
}
.careers-buttons-wrapper h1 {
  font-family: MonserratMedium;
}
.careers-buttons-wrapper button {
  width: 280px;
  display: inline-block;
}
.careers-info {
  padding: 60px 0 180px;
  grid-row-gap: 60px;
}
.candidate-requirements-header {
  font-size: 24px;
  font-family: MonserratMedium;
  margin-bottom: 50px;
  line-height: 24px;
}
.candidate-requirements-container {
  display: grid;
  grid-row-gap: 20px;
  width: 90%;
}
.candidate-requirements-container p {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  font-family: Metrisch500;
  line-height: 20px;
  font-size: 16px;
  grid-gap: 10px;
  width: 90%;
}
.candidate-requirements-container p::before {
  content: "";
  min-width: 10px;
  height: 54px;
  border-radius: 2px;
  background-color: var(--blue);
  display: flex;
}

.button-group button:focus,
.accordion-button:focus {
  background-color: none;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: #fff;
  color: var(--black);
}
.accordion-item {
  border: none;
  border-bottom: 1px solid rgb(222, 226, 230);
}
.accordion-button {
  padding: 20px 0;
}
.accordion-body {
  padding-left: 0;
  line-height: 20px;
  font-size: 14px;
}

/* contact */
.contact-card {
  background: var(--blue);
  padding:40px;
  height: fit-content;
}
.contact-card .title {
  color: white;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: initial;
    font-family: 'MonserratBold';
}
.contact-card .description {
  font-size: 14px;
  margin-bottom: 0px;
  line-height: 20px;
  font-family: 'MonserratRegular';
  color: white;
  margin-bottom: 20px;
}
.location {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* tabs */

.tabsContent .navbar-nav {
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  font-size: 18px;
  margin-bottom: 60px;
}
.tabsContent .navbar-nav a:first-letter, .title-in-mobileview:first-letter{
  text-transform: capitalize
}
.tabsContent  .nav li{
  color: #11131540;
}
.tabsContent h2{
  font-size: 24px;
  margin-top: 80px;
    margin-bottom: 20px;
    color: var(--blue);
}

/* responsive */
@media only screen and (min-width: 1500px) {
  .App {
    max-width: 1340px;
  }
}
@media only screen and (min-width: 768.5px) and (max-width: 1320px) {
  .image-with-box-shadow {
    width: 100%;
  }
  /* .image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  } */
  .award-card {
    flex-wrap: wrap;
  }

  .awards-container > img {
    object-position: right;
    object-fit: cover;
  }
  .gradient-image {
    display: grid;
    justify-content: center;
  }

}
@media only screen and (min-width: 650px) and (max-width: 900px) {
  .form-image img {
    width:100%
  }
  .gradient-image {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .image-with-box-shadow {
    width: 100%;
  }
  .gradient-image-banner img {
    height: 156px;
    width: 100vw;
  }
  .contact-info::before, .contact-info::after  {
    left:0
  }

  /* common */

  .nav-left,
  .nav-right {
    align-items: flex-start;
  }
  .App {
    border: none;
    padding: 0;
    width: 100%;
  }
  .langing-page-header {
    /* padding-block: 60px !important; */
    position:relative;
    padding-bottom: 80px;
    /* grid-row-gap: 50px; */
    padding:0;
    min-height:280px;
    background: var(--bluebg);
  }
  /* .image {
    position: relative;
    width: 100%;
    right: 0;
  } */
 
  .langing-page-header .title {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
  }
  .paragraph {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .statistics {
    margin-top: 30px;
    grid-column-gap: 25px;
  }
  .statistics > div {
    font-size: 14px;
    grid-column-gap: 9px;
  }
  .statistics .numbers {
    font-size: 24px;
  }
  /* .banner {
    display: grid !important;
    grid-row-gap: 30px;
    padding: 30px 0;
  }
  .banner-text::after {
    display: none;
  }
 

  .banner-text p:nth-child(2) {
    font-size: 14px;
  }
  .OurServicesShort {
    margin: 60px 0 0 0;
  }

  .banner-static {
    margin-top: 20px;
  } */
  .transactions {
    margin-top: 60px;
  }
  .news-cards {
    display: grid;
    grid-row-gap: 20px;
  }
  .awards-list {
    padding: 30px 20px;
  }
  .award-card {
    grid-gap: 20px;
  }
  .award-card p {
    line-height: 14px;
  }
  .award-card img {
    width: 100%;
    height: 92px;
  }

  footer {
    flex-direction: column;
    grid-row-gap: 30px;
    padding: 20px 18px;
  }
  .footer-right {
    font-size: 14px;
    grid-gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .team-grid button {
    margin-top: 30px !important;
  }
  /* services */
  footer::before,
  .services-container .first:before {
    left: 0;
  }
  .smaller-padding-header {
  
    padding-bottom: 60px !important;
  }
  .subheading {
    margin-bottom: 20px;
  }
  .gradient-image img:nth-child(1) {
    display: none;
  }
  .gradient-image img:nth-child(2) {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .section {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .services-container h2 {
    padding-top: 60px !important;
  }
  .section-left p:first-child {
    font-size: 14px;
    line-height: 14px;
  }

  .section-left p:first-child {
    margin-bottom: 30px;
  }

  .service  ul {
    font-size: 14px;
    margin-bottom: 10px;
    padding-right: 18px;
  }

  .section-left p:nth-child(2) {
    margin: 20px 0 30px !important;
  }
  /* client */
  .clients_image_array {
    width:100%;
    left:0;
  }

  /* sectors */


  .sectors-container {
    /* padding: 30px 18px 120px; */
    grid-gap: 30px;
    grid-template-columns: 1fr;
  }
  .sector-card {
    grid-template-rows: auto;
    grid-row-gap: 20px;
  }
  .sector-card ul li::before {
    top: 10px;
    transform: translateY(0);
  }

  /* transactions */
  .transactions-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding-inline: 18px; */
    padding-bottom: 120px;
  }

  .transactions-image-container img {
    display: block;
    width: 100%;
    height: auto;
  }

  .imageText > div:nth-child(2) img {
    width: 100%;
  }
  .transaction-tabs-ul .nav-item {
    width: 100%;
    height: 0;
  }
  .transaction-tabs-ul .nav-item:nth-child(1) {
    z-index: 1;
    background-color: #11131510 !important;
  }
  /* .h {
    height: 30px !important;
  } */

  /* careers */
  .candidate-requirements-container,
  .candidate-requirements-container p {
    width: 100%;
  }
  .candidate-requirements-header {
    margin-bottom: 30px;
  }
  .accordion-button {
    padding: 30px 0 10px;
  }

  /* contacts */
  .contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact-info div {
    padding: 30px 18px !important;
  }


}
@media only screen and (max-width: 641px) {
  .location {
    min-height: 400px;
  }
  .statistics  {
    margin: auto !important;
  }
  .text-decor {
    padding-left: 10px !important ;
  }
  .image-with-box-shadow {
    box-shadow: none;
  } 
  .text-decor:before, .text-decor:after, .service .button-solid {
    display: none;
  }
  .services-container .full-width-img {
    height: 156px;
  }
  /* .clients_image_array {
    grid-template-columns: 1fr 1fr;
  } */

  .team_member_img {
    min-height: auto;
    height: 262px;
    /* object-position: 0 0; */
    object-fit: cover;
  }
  .ant-modal-body .team_member_img  {
    height: 400px;
  }
}



/* new styles */
.banner_1_img {
  margin: 58px 0 20px;
}

.banner_p {
  font-family: 'MonserratMedium';
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}


.due-dilligence-banner {
  background-color: var(--bluebg);
  margin: 80px 0px;
  min-height: 270px;
  align-items: center;
}
.text {
  font-family: 'MonserratMedium';
    font-size: 24px;
    line-height: 29.26px;
    color: var(--blue);
}
.due-dilligence-banner .numbers {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--blue);
  font-size: 18px;
  font-family: 'MonserratBold';
  gap: 20px 60px;
}
.due-dilligence-banner .numbers > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.due-dilligence-banner span:nth-child(1){
  font-size: 84px;
  font-family: 'MonserratMedium';
}
.due-dilligence-banner .numbers span:nth-child(1)::after{
  content: '';
  display: block;
  width: 85%;
  margin: auto;
  height: 4px;
  background-color: var(--blue);
  margin-top: -10px;
  margin-bottom: 5px;
  border-radius: 4px;
}




/* team home */
.team-grid {
  justify-content: end;
  margin-bottom: 80px;
}
.team-grid h1 {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 10px;
  font-family: 'MonserratBold';
}
.team-grid p {
  max-width: 380px;
}
.team-grid button {
  border:none;
  background: none;
  padding:0;
  font-family: MonserratBold;
  margin:5px 0;
}
.team-grid-img img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
  background-size: cover;
  object-position: center top;
  z-index: -1;
}
.team-grid-img  {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto; 
  justify-content: end;
  gap: 10px;
}

.team-grid-img img:nth-child(1) {
  grid-area: 1/1/span 1 / span 6;
  display: block;
  margin-left: auto;
}
.team-grid-img img:nth-child(5) {
  grid-area: 2/1/span 1/ span 4;
  display: block;
  margin-left: auto;
}


/* sectors inside */
.pie {
  width: 148px; height: 148px;
  border-radius: 50%;
  background-color: #aeb9d6;
  background-image:
  linear-gradient(to right, transparent 50%, var(--blue) 0);

}
@keyframes spin {
  to { transform: rotate(.5turn); }
}

@keyframes bg {
  50% { background: var(--blue); }
}

/* .pie::before {
  content: "";
  display: block;
  margin-left: 50%;
  width:171px; height: 171px;
  border-radius: 50%;
  background-color: var(--blue);
  transform: rotate(90deg);
  animation: spin 1s linear infinite,
             bg 6s step-end infinite;

} */


.sectors-inside-text h2 {
  font-family: 'MonserratBold';
    font-size: 18px;
    color: #11131540;
    margin-bottom: 20px;
    line-height: 21.94px;
    max-width: 80%;
}
.sectors-inside-text p {
  font-family: 'MonserratBold';
}

.big-countup {
  font-size: 64px;
    font-family: 'MONSERRATBOLD';
    color: var(--bluelight);
}

.p-large {
  font-size: 24px;
  color: var(--blue);
  line-height: 29.26px;
}



.banner-title-long .title{
  font-size: 24px;
    line-height: 29.26px;
}

.view-profile {
  color: var(--blue);
  font-family: 'MonserratBold';
  display: flex;
  align-items: center;
  opacity: 0.4;
  gap: 5px;
  cursor: pointer;
}
.view-profile img {
  width: 10px; height: 10px;
  object-fit: contain;
  border-radius: 0;
}

.team-modal .ant-modal-footer {
  display: none;
}

.team-modal .transactions {
  padding-inline: 0 !important;
}

.team-modal .ant-modal-body {
  width: 80%;
  margin: auto;
  padding: 60px 0 0 0;
}

.ant-modal-close {
  position: absolute;
    top: 50px;
    right: 50px;
}

.news-card-bg-transparent .ant-card {
  background: transparent;
    box-shadow: none;
        padding: 0;
  max-width: 290px;
}
.news-card-bg-transparent .ant-card img{
  margin: 0;
    border-radius: 8px;
    height:200px;
}
.news-card-bg-transparent .ant-card h6 {
  margin: 20px 0 10px;
  line-height: 20px;
  font-size: 16px;
  font-family: 'MonserratBold';
  color: var(--blue);
}
.news-card-bg-transparent .ant-card p {
  font-family: 'MonserratMedium';
  line-height: 20px;
  font-size: 14px;
}
/* faq */
.packages-card {
  padding: 60px !important;
    border-radius: 4px;
    background: var(--bluebg);
    border: 1px solid #1D469660;
}
.nav-down{
  display: none;
}
.nav-top {
  justify-content: flex-start;
}
.chosen-year {
  display: none;
}
@media only screen and (min-width: 991px) {
  .navlink_upper {
    display: none;
  }
  .nav-down{
    display: block;
  }
  .nav-top {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 991px) {
  .chosen-year {
    display: block;
  }
  .chosen-year-menu {
    border: 1px solid #11131520;
    border-radius: 4px;
    margin-bottom: 30px;
    padding-left: 20px !important;
  }
  .text-center {
    align-items: center !important;
  }
  .logo {
    width: 72%;
    height: auto;
  }
  .team-grid-img {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .team-grid-img img {
    width: 100%;
    aspect-ratio: 1;
  }
  .team-grid-img img:nth-child(1), .team-grid-img img:nth-child(5) {
    grid-area: initial;
  }
  .my-carousel .langing-page-header {
    padding-bottom: 90px !important;
  }
  .slick-dots {
    justify-content: center !important;
    padding: 0 !important;
  }
}